<div class="timeline">
  <% @tweets.each do |status| %>
    <p>
    <div style="float:left; margin:5px">
      <a href="http://twitter.com/<%= status['user']['screen_name'] %>">
      <img src="<%= status['user']['profile_image_url'] %>" width="32" height="32"/>
      </a>
    </div>
      
    <div style="">
      <a href="http://twitter.com/<%= status['user']['screen_name'] %>">@<%= status['user']['screen_name'] %></a>
      <%= status['text'].gsub /((https?:\/\/|www\.)([-\w\.]+)+(:\d+)?(\/([\w\/_\.]*(\?\S+)?)?)?)/, %Q{<a href="\\1">\\1</a>} %>
    </div>
      
    <div style="float: right">
      <input type="checkbox" name="<%= status['id'] %>" >
    </div>
      
    <br clear="all"/>
    </p>
  <% end %>
  
  <div style="float: left">
    <% if @page.to_i - 1 > 0 %>
      <a href="http://sideburns.heroku.com/timeline/<%= @page.to_i - 1 %>">Previous page</a>
    <% end %>
  </div>
    
  <div style="float: right">
    <a href="http://sideburns.heroku.com/timeline/<%= @page.to_i + 1 %>">Next page</a>
  </div>
  
  <br clear="all"/>
  
  <div>
    <form method="post" action="bookmark">
      <p align="center">
      <input style="font-size:20px" type="submit" value="bookmark"/>
      </p>
    </form>
  </div>
</div>