<div class="timeline">
  <form method="post" action="bookmark">
  
  <% @tweets.each do |status| %>
    <p>
    <div style="float:left; margin:5px">
      <a href="http://twitter.com/<%= status['user']['screen_name'] %>">
      <img src="<%= status['user']['profile_image_url'] %>" width="32" height="32"/>
      </a>
    </div>
      
    <div style="">
      <a href="http://twitter.com/<%= status['user']['screen_name'] %>">@<%= status['user']['screen_name'] %></a>
      <%= status['text'].gsub /((https?:\/\/|www\.)([-\w\.]+)+(:\d+)?(\/([\w\/_\.]*(\?\S+)?)?)?)/, %Q{<a href="\\1">\\1</a>} %>
    </div>
      
    <div style="float: right">
      <input type="checkbox" name="tweets[]" value="<%= status['text'].to_s %>">
    </div>
      
    <br clear="all"/>
    </p>
  <% end %>
  
  <div style="float: left">
    <% if @page.to_i - 1 > 0 %>
      <a href="http://rouflaquettes.heroku.com/timeline/<%= @page.to_i - 1 %>">Previous page</a>
    <% end %>
  </div>
  
  <div style="float: right">
    <a href="http://rouflaquettes.heroku.com/timeline/<%= @page.to_i + 1 %>">Next page</a>
  </div>
  
  <br clear="all"/>
  
  <div>
    <p align="center">
      
      <a href="#delicious" id="del_show">Bookmark</a>
      
    </p>
  </div>
  
  <div id="del" style='display:none;'>
    
      <p align="center">
      
      <input style="font-size:20px" type="text" size=24 name="d_name" value="username"/><br/>
      <input style="font-size:20px" type="password" size=24 name="d_password" value="password"/></p>
      <p align="center">
      <input type="checkbox" name="unfavorize"> Check to unfavoritize after bookmarking </p>
      <p align="center">
      <input style="font-size:30px" type="submit" value="Continue"/>
      <a href="http://rouflaquettes.heroku.com/timeline" name="delicious">Cancel</a>
      
      </p>
      
  </div>
  
  </form>
</div>